{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Register!</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="{% static 'css/home-styles.css' %}" rel="stylesheet" />
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet" />
</head>

<body>


  <div class="form-body">
    <div class="logo">
      <img class="img" src="{%static 'img/logo red .png '%}">
    </div>
    <div class="container">

      <div class="header">
        <h1 class="form-title">Register Now!</h1>
      </div>

      <div class="reg-img">
        <a class="img-link" href="wtb">
          <center>
          <h1 class="form-title">What The Buzz</h1>
          </center>
        </a>
      </div>

      <div class="reg-img">
        <a class="img-link" href="speaker">
          <center>
          <h1 class="form-title">Speaker</h1>
          </center>
        </a>
      </div>

      <div class="reg-img">
        <a class="img-link" href="code">
          <center>
          <h1 class="form-title">Code O' Clock</h1>
          </center>
        </a>
      </div>

      <div class="reg-img">
        <a class="img-link" href="pixel">
          <center>
          <h1 class="form-title">Pixel</h1>
          </center>
        </a>
      </div>

      <div class="reg-img">
        <a class="img-link" href="clowncanard">
          <center>
          <h1 class="form-title">The Clown Canard</h1>
          </center>
        </a>
      </div>

        <div class="reg-img">
          <a class="img-link" href="movie">
            <center>
            <h1 class="form-title">Movie Night</h1>
            </center>
          </a>
        </div>

    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>